.container {
    display: flex;
}
.main,
.accessory {
    box-sizing: border-box;
    width: 260px;
}
.main {
    background-color: var(--colors-grey100);
    border-right: 1px solid var(--colors-grey400);
    box-shadow: 1px 0 2px 0 rgb(0 0 0 / 0.03);
}
.accessory {
    background-color: var(--colors-white);
    overflow-x: hidden;
    transition: width 200ms ease-out;
    display: flex;
}
.accessory.hidden {
    width: 0;
}
.accessoryInner {
    width: 260px;
    border-right: 1px solid var(--colors-grey400);
    transform: translateX(0);
    transition: transform 200ms ease-out;
    flex-shrink: 0;
}
.accessory.hidden .accessoryInner {
    transform: translateX(-260px);
}
.accessory.padded .accessoryInner {
    padding: var(--spacers-dp12) var(--spacers-dp8);
}
