.iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    color: var(--colors-grey700);
}

.iconButton:focus {
    outline: none;
}

.iconButton:hover {
    background-color: rgba(0, 0, 0, 0.12);
    color: var(--colors-grey900);
}
