.container {
    width: 260px;
    border-right: 1px solid var(--colors-grey400);
}

.button {
    height: 38px;
    padding: 7px var(--spacers-dp8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--colors-white);
}

.button > svg {
    margin-right: var(--spacers-dp8);
}

.button > span {
    font-size: 14px;
}
