.chip {
    position: relative;
    display: flex;
    margin: var(--spacers-dp4);
    background-color: var(--colors-teal200);
    border-radius: 3px;
    width: fit-content;
    cursor: pointer;
}

.content {
    display: inline-flex;
    cursor: pointer;
    min-height: 24px;
    user-select: none;
    width: fit-content;
    align-items: center;
    padding-right: 2px;
}

.chipBase {
    font-weight: 400;
    display: flex;
    max-width: 360px;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: var(--colors-grey900);
    margin-right: var(--spacers-dp4);
    padding: 4px 2px 4px 6px;
}

.label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.primary {
    flex: 2 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.secondary {
    font-size: 13px;
    line-height: 15px;
    flex: 1 2.3 auto;
    color: var(--colors-grey700);
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suffix {
    white-space: nowrap;
    flex: 1;
}

.chip:hover {
    background: #9fdbd5;
}

.dragging {
    margin: 0;
    padding: 1px 24px 1px 6px;
    align-items: center;
    min-height: 24px;
}

.chip:not(.active).insertBefore .content::before,
.chip:not(.active).insertAfter .content::before,
.chip:not(.active).insertBefore .content::after,
.chip:not(.active).insertAfter .content::after {
    content: '';
    position: absolute;
    z-index: 100;
}

.showBlank .content {
    visibility: hidden;
    min-width: 100px;
}

/* the vertical line */
.content::before {
    top: 6px;
    bottom: 0;
    width: 4px;
    background-color: #4c9ffe;
}

/* the circle */
.content::after {
    top: -4px;
    width: 12px;
    height: 12px;
    border: 4px solid #4c9ffe;
    background: transparent;
    border-radius: 12px;
}

.isLast {
    flex: 1;
}

.insertBefore .content::before {
    left: -6px;
}
.insertBefore .content::after {
    left: -10px;
}

.insertAfter .content::before {
    right: -6px;
}
.insertAfter .content::after {
    right: -10px;
}

.chipEmpty {
    background-color: var(--colors-grey300);
}

.chipEmpty:hover {
    background-color: var(--colors-grey400);
}

.leftIcon {
    margin-right: 6px;
    line-height: 0;
}

/* dnd */

.active {
    opacity: 0.4;
}
